In [1]:
import pandas as pd
import numpy as np
import investpy
import datetime
from pandas_datareader import data as pdr
import yfinance as yf
import datetime as dt

C:\Users\Henry\Anaconda3\lib\site-packages\pandas_datareader\compat\__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

# S&P 500 data

In [8]:
#Using investpy to import the data from investing.com

In [9]:
today = dt.datetime.today().strftime("%m/%d/%Y")

In [10]:
df = pd.DataFrame()
index = ['S&P 500 REAL ESTATE','S&P 500 TELECOM SERVICES','S&P 500 HEALTH CARE','S&P 500 FINANCIALS',
         'S&P 500 ENERGY','S&P 500 UTILITIES','S&P 500 INDUSTRIALS','S&P 500 CONSUMER STAPLES','S&P 500 INFORMATION TECHNOLOGY']
for x in index:
    df[x] = investpy.get_index_historical_data(index= x,
                                        country='United States',
                                        from_date='02/12/2019',
                                        to_date=today)['Close']

In [11]:
df

,S&P 500 REAL ESTATE,S&P 500 TELECOM SERVICES,S&P 500 HEALTH CARE,S&P 500 FINANCIALS,S&P 500 ENERGY,S&P 500 UTILITIES,S&P 500 INDUSTRIALS,S&P 500 CONSUMER STAPLES,S&P 500 INFORMATION TECHNOLOGY
Date,,,,,,,,,
2019-12-01,234.26,176.69,1143.63,495.74,431.49,315.90,677.64,635.73,1521.44
2019-12-02,236.00,176.54,1141.25,489.21,424.81,317.48,670.19,634.57,1508.54
2019-12-03,237.42,177.67,1151.67,494.04,431.48,319.77,672.38,638.77,1513.86
2019-12-04,237.55,178.36,1152.01,495.88,429.34,319.83,672.74,637.57,1519.77
2019-12-05,237.79,179.48,1159.11,502.58,437.91,319.12,681.20,639.92,1536.81
...,...,...,...,...,...,...,...,...,...
2020-04-27,211.28,162.42,1158.58,377.42,275.99,300.56,543.13,606.88,1550.58
2020-04-28,212.02,170.62,1167.15,388.77,296.28,297.80,553.65,604.41,1615.98
2020-04-29,210.61,170.66,1162.03,378.34,289.65,290.71,542.35,597.56,1608.60
2020-04-30,203.79,167.99,1137.89,365.79,272.28,283.60,526.21,590.51,1561.70
2020-05-03,203.76,168.53,1138.72,362.44,282.38,285.74,519.21,590.54,1583.92

In [12]:
df.index=df.index + pd.DateOffset(1) #adjusting date
df

,S&P 500 REAL ESTATE,S&P 500 TELECOM SERVICES,S&P 500 HEALTH CARE,S&P 500 FINANCIALS,S&P 500 ENERGY,S&P 500 UTILITIES,S&P 500 INDUSTRIALS,S&P 500 CONSUMER STAPLES,S&P 500 INFORMATION TECHNOLOGY
Date,,,,,,,,,
2019-12-02,234.26,176.69,1143.63,495.74,431.49,315.90,677.64,635.73,1521.44
2019-12-03,236.00,176.54,1141.25,489.21,424.81,317.48,670.19,634.57,1508.54
2019-12-04,237.42,177.67,1151.67,494.04,431.48,319.77,672.38,638.77,1513.86
2019-12-05,237.55,178.36,1152.01,495.88,429.34,319.83,672.74,637.57,1519.77
2019-12-06,237.79,179.48,1159.11,502.58,437.91,319.12,681.20,639.92,1536.81
...,...,...,...,...,...,...,...,...,...
2020-04-28,211.28,162.42,1158.58,377.42,275.99,300.56,543.13,606.88,1550.58
2020-04-29,212.02,170.62,1167.15,388.77,296.28,297.80,553.65,604.41,1615.98
2020-04-30,210.61,170.66,1162.03,378.34,289.65,290.71,542.35,597.56,1608.60
2020-05-01,203.79,167.99,1137.89,365.79,272.28,283.60,526.21,590.51,1561.70
2020-05-04,203.76,168.53,1138.72,362.44,282.38,285.74,519.21,590.54,1583.92

In [13]:
df.to_excel("s&p500.xlsx")  #export excel file

# ETF quotes

In [2]:
#Using yfinance to import the data from yahoofinance

In [3]:
# The below will pull back stock prices from the start date until end date specified.
start_sp = dt.datetime(2019, 12, 2)
end_sp = dt.datetime.today()
yf.pdr_override()

In [4]:
xlsx=pd.ExcelFile('financial data.xlsx')
etf=pd.read_excel(xlsx,'QUOTES')
etf=etf.iloc[0].to_list()
del etf[0] 
etf #get the name list of etf

['PFI',
 'PGF',
 'PSP',
 'KBWD',
 'KBWP',
 'PSCF',
 'FXO',
 'IAK',
 'IXG',
 'IYF',
 'KIE',
 'BDCL',
 'DPST',
 'FAS',
 'FINU',
 'FNCL',
 'IAI',
 'IAT',
 'IYG',
 'KBE',
 'KBWB',
 'KBWR',
 'KRE',
 'LBDC',
 'QABA',
 'RWW',
 'RYF',
 'UYG',
 'XLF',
 'XLU',
 'VPU',
 'IDU',
 'FUTY',
 'FXU',
 'RYU',
 'PSCU',
 'JHMU',
 'UPW',
 'UTES',
 'SDP',
 'XLUY',
 'PUI',
 'UTSL',
 'BIB',
 'CURE',
 'FBT',
 'IHF',
 'IHI',
 'LABU',
 'PPH',
 'PSCH',
 'XBI',
 'XHE',
 'XLV',
 'XPH',
 'VHT',
 'RXL',
 'RXD',
 'XLK',
 'IYW',
 'ARKW',
 'TDIV',
 'VGT',
 'SMH',
 'ARKK',
 'TECS',
 'PNQI',
 'GAMR',
 'XITK',
 'SOXX',
 'VOX',
 'TAN',
 'IXN',
 'QTEC',
 'IGV',
 'FTEC',
 'FXL',
 'SKYY',
 'HACK',
 'RYT',
 'IGM',
 'CIBR',
 'XNTK',
 'IPAY',
 'PSCT',
 'FINX',
 'PSJ',
 'XSD',
 'DBO',
 'GUSH',
 'OILU',
 'UCO',
 'VDE',
 'XLE',
 'XOP',
 'PXI',
 'PXE',
 'OILD',
 'DRIP',
 'GASL',
 'GASX',
 'DIG',
 'DUG',
 'XLI',
 'ITA',
 'IYT',
 'XHB',
 'XAR',
 'PSCI',
 'PHO',
 'SCHD',
 'DFEN',
 'FXR',
 'IYJ',
 'VIS',
 'PPA',
 'CGW',
 'FIDU',
 'XLP',
 'XLY',
 'IBUY',
 'ITB',
 'VCR',
 'VDC',
 'IYC',
 'XRT',
 'KXI',
 'IYK',
 'RHS',
 'FSTA',
 'FXG',
 'PSL',
 'PSCC',
 'PBJ',
 'JHMS',
 'IECS',
 'FDIS',
 'ECON',
 'FXD',
 'RXI',
 'CHIQ',
 'PEJ',
 'INCO',
 'RCD',
 'RTH',
 'PSCD',
 'PEZ',
 'PBS',
 'VXX',
 'SH',
 'SDOW',
 'SPXU',
 'SDS',
 'DXD',
 'QID',
 'DOG',
 'SBB',
 'RWM',
 'SQQQ',
 'SPXS',
 'MIDZ',
 'RUSS',
 'SMN']

In [5]:
df1 = pd.DataFrame()
for x in etf:
    df1[x] = pdr.get_data_yahoo(x, 
                               start_sp,
                                 end_sp)['Close']

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [6]:
df1

,PFI,PGF,PSP,KBWD,KBWP,PSCF,FXO,IAK,IXG,IYF,...,DXD,QID,DOG,SBB,RWM,SQQQ,SPXS,MIDZ,RUSS,SMN
Date,,,,,,,,,,,,,,,,,,,,,
2019-12-02,37.880001,18.520000,12.47,21.610001,70.430000,56.279999,32.980000,70.510002,67.029999,134.389999,...,23.830000,25.990000,50.740002,31.190001,38.430000,26.049999,14.84,45.560001,8.85,25.090000
2019-12-03,37.919998,18.580000,12.38,21.549999,69.660004,55.810001,32.669998,69.559998,66.330002,133.369995,...,24.309999,26.360001,51.279999,31.309999,38.549999,26.610001,15.14,46.320000,9.15,25.490000
2019-12-04,38.130001,18.580000,12.49,21.600000,70.290001,56.250000,32.889999,70.010002,67.010002,134.220001,...,24.049999,26.090000,50.990002,31.070000,38.270000,26.209999,14.85,45.270000,8.84,25.450001
2019-12-05,38.189999,18.540001,12.56,21.590000,70.279999,56.279999,33.009998,70.110001,67.029999,134.789993,...,23.990000,26.020000,50.930000,30.980000,38.259998,26.080000,14.77,45.070000,8.89,25.240000
2019-12-06,38.480000,18.549999,12.60,21.780001,70.989998,56.799999,33.279999,70.930000,67.669998,136.059998,...,23.410000,25.480000,50.310001,30.540001,37.799999,25.270000,14.39,43.689999,8.55,24.600000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-04-28,31.900000,17.830000,9.09,12.390000,53.849998,37.959999,23.610001,52.360001,49.840000,105.879997,...,22.809999,17.990000,52.290001,35.250000,41.610001,13.000000,10.73,74.329803,9.09,23.770000
2020-04-29,32.560001,18.020000,9.52,13.000000,55.099998,40.119999,24.840000,54.060001,51.570000,109.320000,...,21.790001,16.760000,51.169998,33.340000,39.570000,11.660000,9.90,74.329803,9.09,22.420000
2020-04-30,31.940001,18.080000,9.28,12.710000,52.770000,38.400002,23.910000,51.990002,50.049999,106.779999,...,22.320000,16.700001,51.790001,34.700001,41.110001,11.580000,10.17,74.329803,9.09,23.750000
2020-05-01,31.170000,17.930000,8.96,12.190000,50.349998,36.810001,22.940001,49.669998,48.560001,103.330002,...,23.440001,17.680000,53.040001,36.119999,42.689999,12.620000,10.97,74.329803,9.09,25.010000
2020-05-04,31.254700,17.920000,8.94,12.110000,50.380001,36.191799,22.879999,49.560501,48.349998,102.830002,...,23.400000,17.250000,53.040001,36.220001,42.540001,12.170000,10.88,NaN,NaN,24.690001

In [12]:
df1.to_excel("quotes.xlsx")  #export excel file